<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Email : </label>
        <input id="email" type="email" formControlName="email">
    </div>
    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        <div *ngIf="loginForm.controls['email'].errors?.['required']">
            Please enter an e-mail.
        </div>
        <div *ngIf="loginForm.controls['email'].errors?.['email']">
            Please enter a valid e-mail.
        </div>
    </div>
    <div>
        <label for="password">Password : </label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            <div *ngIf="loginForm.controls['password'].errors?.['required']">
                Please enter a password.
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Log in</button>
    
</form>